:root {
    --pink-color:#FF5E69;
}

/* *{
    box-sizing: border-box;
}
 */

@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

    
    
body{
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration:none;
}
header {
    display: flex;
    /* default kodlar */
    /* flex-direction: row; */
    justify-content: space-between;/*main axis esas ox*/
align-items: center;/*cross axis*/
/* background-color: brown; */
padding-top: 41px;
padding-left: 112.5px;
padding-right: 112.5px;

}
header .nav-links a{
    color: #000;
    padding: 15px;
    /* height: 28px; */
}
.fa-bars{
    display: none;
}

/* RESPONSIV NAVBAR */

@media(max-width:768px) {
    .fa-bars {
        display: flex;
        cursor:pointer;
        font-size:24px;
    }
.nav-links {
    display:none;
}
header{
    padding-left:20px;
    padding-right:20px;

}
}
/* INTROSECTION START */

.introsection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left:7.03rem;
    padding-right:0;



}

.intro-left-side h1{
font-size:4.3rem;
font-weight: 700;
margin-bottom: 40px;
}
.intro-left-side p{
    margin-bottom: 25px;
    letter-spacing: 0.5px;
    line-height: 33px;
    font-size: 22px;
}

.intro-left-side {
    padding-top:117px;
    min-width:680px;
    flex-basis:50%;

}

.intro-right-side{
    padding-top:70px;
    min-width:500px;
    flex:1;

}
.intro-right-side img{
    width: 100%;
    height: 100%;
}


.intro-left-side h1 span{
    color: #FF8A56;

}
.intro-left-side button{
    width:118px;
    height:48px;
    background-color: #000;
    color:#fff;

    
}
.intro-left-side a{
    padding-left: 15px;
}

@media(max-width:1441px) and (min-width:768px){
    .intro-left-side{
        /* background-color: red; */
        flex-basis:100%;
        text-align: center;
        
        
    }
    .introsection{
        padding-left: 0;
        padding-right: 0;
    }
}


@media(max-width:768px) {
    .intro-left-side{
        min-width:500px;
        text-align: center;
        padding-top: 40px;
      /* background-color:red ; */
      flex-basis: 100%;
      padding-top: 20px;
    }
    .introsection{
        padding-left: 0;
        padding-right: 0;
    }
}
/* INTROSECTION END */



/* TRUSTED BY SECTION START */


.trusted-by-section > h6 {
/* background-color: red; */
text-align: center;
font-size: 18px;
font-weight: 400;

}

.trusted-by-companies{
    display: flex;
    justify-content: space-around;
    padding-top: 77px;
}

@media(max-width:768px){
    .trusted-by-company:nth-child(even) {
display: none;
    }
    .trusted-by-company:not(:first-child) {
        display: none;
    }

}



/* TRUSTED BY SECTION END */

/* SERVICES SECTION START */



.services h6,h1{
    text-align: center;
  
}


.services{

    padding-top: 100px;
}
 


 

 .services h6{
    text-transform: uppercase;
    color:var(--pink-color);
font-size: 22px;
font-weight: 700;
line-height: 22px;
letter-spacing: 4px;

}
.services h1{
  
font-size: 54px;
font-weight: 700;
line-height: 59px;
letter-spacing: 1px;


}

.services-cards-section{
    display: flex;
justify-content: space-around;
padding-top: 50px;
flex-wrap: wrap;
}

.service-card{
    width:20%;
    min-width: 250px;
    /* background-color: teal; */
    padding:20px;

}

ul {
    list-style-type: square;
    padding-left:0;
    list-style-position: inside;
}



/* SERVICES SECTION END */



/* PROJECTS SECTION START */

.projects-section {
    display: flex;
    flex-direction: column;
    padding-left: 113px;
    padding-top: 167px;
}

.projects-section h5 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 22px;
    color: #B16CEA;
    padding-bottom: 20px;

}

.view-all-projects {
    display: flex;
    justify-content: space-between;
    padding-right: 112px;
}

.view-all-projects button {
    width: 180px;
    height: 55px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.view-all-projects h1 {
    font-size: 54px;
    letter-spacing: 1px;
    line-height: 59.4px;
    font-weight: 700;
    padding-bottom: 70px;
}

.projects-card {
    display: flex;
    z-index: 3;
}

.project-card {
    min-width: 450px;
    margin-right: 24px;

}

.project-card-top img {
    width: 450px;
}


.project-card-bottom {
    padding-left: 32px;
    background-color: #fff;
    padding-bottom: 10px;
}


.project-card h4 {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 4px;
    color: #3C46FF;
    padding-top: 33px;
    padding-bottom: 17px;
}

.project-card h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 26.4px;
    padding-bottom: 19px;
}

.project-card a {
    text-decoration: none;
    color: #000;
}

.slider-btns button {
    width: 46px;
    height: 46px;
}

.slider-btns {
    align-self: flex-end;
    padding-right: 112px;
    padding-top: 26px;
}

@media(max-width:1510px) {
    .project-card:nth-child(3) {
        display: none;
    }
}

@media(max-width:1078px) {
    .project-card:nth-child(2) {
        display: none;
    }
}

@media(max-width:962px) {
    .view-all-projects h1 {
        font-size: 38px;
        letter-spacing: 1px;
        line-height: 50px;
        padding-bottom: 60px;
    }

    .view-all-projects button {
        width: 160px;
        height: 50px;
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }

    .projects-section h5 {
        letter-spacing: 3px;
        font-size: 18px;
        color: #B16CEA;
        padding-bottom: 15px;

    }

    .view-all-projects {
        padding-right: 80px;
    }
}

@media(max-width:768px) {
    .view-all-projects h1 {
        font-size: 34px;
        letter-spacing: 1px;
        line-height: 40px;
        padding-bottom: 50px;
    }

    .view-all-projects button {
        width: 140px;
        height: 45px;
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }

    .projects-section h5 {
        letter-spacing: 3px;
        font-size: 15px;
        color: #B16CEA;
        padding-bottom: 13px;

    }

    .view-all-projects {
        padding-right: 60px;
    }

    .project-card {
        min-width: 350px;
    }

    .project-card-top img {
        width: 400px;
    }

    .project-card h4 {

        font-size: 13px;
        letter-spacing: 3px;
        color: #3C46FF;
        padding-top: 27px;
        padding-bottom: 15px;
    }

    .project-card h3 {
        font-size: 22px;
        line-height: 22px;
        padding-bottom: 17px;
    }

    .slider-btns button {
        width: 40px;
        height: 40px;
    }

    .slider-btns {
        align-self: flex-end;
        padding-right: 60px;
        padding-top: 20px;
    }

    .projects-section {
        padding-left: 50px;
    }
}

@media(max-width:598px) {
    .view-all-projects h1 {
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 33px;
        padding-bottom: 44px;
    }

    .project-card-bottom {
        padding-bottom: 8px;
    }

    .view-all-projects button {
        width: 120px;
        height: 40px;

    }

    .projects-section h5 {
        letter-spacing: 2px;
        font-size: 12px;
        color: #B16CEA;
        padding-bottom: 11px;

    }

    .view-all-projects {
        padding-right: 30px;
    }

    .project-card {
        min-width: 300px;

    }

    .project-card-top img {
        width: 350px;
    }

    .project-card h4 {

        font-size: 11px;
        letter-spacing: 2px;
        color: #3C46FF;
        padding-top: 20px;
        padding-bottom: 12px;
    }

    .project-card h3 {
        font-size: 18px;
        line-height: 18px;
        padding-bottom: 12px;
    }

    .slider-btns button {
        width: 35px;
        height: 35px;
    }

    .slider-btns {
        padding-right: 40px;
        padding-top: 17px;
    }

    .projects-section {
        padding-left: 30px;
    }

    .project-card-bottom {
        padding-left: 20px;
    }
}

@media(max-width:400px) {
    .project-card-top img {
        width: 260px;
    }



    .view-all-projects button {
        width: 110px;
        height: 30px;
        font-size: 9px;
    }

    .view-all-projects h1 {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 25px;
        padding-bottom: 35px;
    }


    .projects-section h5 {
        letter-spacing: 1px;
        font-size: 12px;
        color: #B16CEA;
        padding-bottom: 8px;

    }

    .view-all-projects {
        padding-right: 30px;
    }

    .project-card {
        min-width: 220px;
        margin: 0;
    }

    .projects-section {
        padding-left: 30px;
        padding-right: 0px;
    }

    .project-card h4 {

        font-size: 9px;
        letter-spacing: 1px;
        color: #3C46FF;
        padding-top: 15px;
        padding-bottom: 9px;
    }

    .project-card h3 {
        font-size: 14px;
        line-height: 14px;
        padding-bottom: 9px;
    }

    .slider-btns button {
        width: 30px;
        height: 30px;
    }

    .slider-btns {
        padding-right: 10px;
        padding-top: 14px;
    }

    .projects-section {
        padding-left: 10px;
    }

    .project-card-bottom {
        padding-left: 13px;
        padding-bottom: 5px;
        width: 260px;

    }

    .project-card-top img {
        width: 260px;
    }

}



/* PROJECTS SECTION END */




/* latest-blog-section start */

.latest-blog-section {
    background-color: #000;
    padding-left: 117px;
    padding-right: 117px;
    padding-top: 300px;
    padding-bottom: 117px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -13.5%;

}

.latest-blog-section h5 {
    color: #FFA84B;
    font-size: 22px;
    font-weight: 700px;
    letter-spacing: 4px;
}

.latest-blog-section h1 {
    color: #fff;
    font-weight: 700;
    font-size: 54px;
    line-height: 59px;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 32px;
}

.latest-blog-section a {
    text-decoration: none;
    color: #fff;
}

.blog-right-side span {

    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.7);
}

.blog-right-side h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #fff;
    padding-top: 26px;
    padding-bottom: 39px;
}

.blog-left-side {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    min-width: 331px;
}

.blog-right-side {
    flex: 1;
    min-width: 666px;
}

.blog {
    padding: 40px 20px 50px 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.7);
}

@media(max-width:800px) {
    .latest-blog-section {
        padding-left: 90px;
        padding-top: 250px;
        padding-bottom: 90px;
    }

    .blog-right-side {
        min-width: 500px;
    }

    .blog-left-side {
        min-width: 300px;
    }

    .latest-blog-section h1 {
        min-width: 320px;
    }
}

@media(max-width:600px) {
    .latest-blog-section {
        padding-left: 70px;
        padding-top: 200px;
        padding-bottom: 70px;
    }

    .blog-right-side {
        min-width: 430px;
    }

    .blog-left-side {
        min-width: 250px;
    }

    .latest-blog-section h5 {
        font-size: 18px;
        letter-spacing: 3px;
    }

    .latest-blog-section h1 {
        font-size: 48px;
        line-height: 50px;
        letter-spacing: 1px;
        padding-top: 17px;
        padding-bottom: 28px;
        min-width: 290px;
    }



    .blog-right-side span {
        font-size: 14px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.7);
    }

    .blog-right-side h2 {
        font-size: 25px;
        line-height: 32px;
        padding-top: 20px;
        padding-bottom: 32px;
    }

    .blog {
        padding: 35px 15px 45px 0;
    }
}

@media(max-width:500px) {
    .latest-blog-section {
        padding-left: 40px;
        padding-top: 170px;
        padding-bottom: 40px;
    }

    .blog-right-side {
        min-width: 300px;
    }

    .blog-left-side {
        min-width: 100px;
    }

    .latest-blog-section h5 {
        font-size: 17px;
        letter-spacing: 3px;
    }

    .latest-blog-section h1 {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 1px;
        padding-top: 13px;
        padding-bottom: 20px;
    }


    .blog-right-side span {
        font-size: 12px;
        line-height: 12px;
        color: rgba(255, 255, 255, 0.7);
    }

    .blog-right-side h2 {
        font-size: 20px;
        line-height: 28px;
        padding-top: 16px;
        padding-bottom: 20px;
    }

    .blog {
        padding: 30px 10px 40px 0;
    }
}

@media(max-width:460px) {
    .latest-blog-section {
        padding-left: 30px;
        padding-top: 120px;
        padding-bottom: 30px;
    }

    .blog-right-side {
        min-width: 300px;
    }

    .blog-left-side {
        min-width: 200px;
    }

    .latest-blog-section h5 {
        font-size: 16px;
        letter-spacing: 3px;
    }

    .latest-blog-section h1 {
        font-size: 33px;
        line-height: 33px;
        letter-spacing: 1px;
        padding-top: 10px;
        padding-bottom: 15px;
        min-width: 250px;
    }

    .blog a {
        font-size: 14px;
    }

    .blog-right-side span {
        font-size: 10px;
    }

    .blog-right-side h2 {
        font-size: 17px;
        line-height: 26px;
        padding-top: 12px;
        padding-bottom: 14px;
    }

    .blog {
        padding: 25px 8px 35px 0;
    }
}

@media(max-width:361px) {
    .latest-blog-section {
        padding-left: 20px;
        padding-top: 100px;
        padding-bottom: 20px;
        padding-right: 100px;
    }

    .blog a {
        font-size: 13px;
    }

    .blog-right-side {
        min-width: 200px;
    }

    .blog-left-side {
        min-width: 190px;
    }

    .latest-blog-section h5 {
        font-size: 15px;
        letter-spacing: 2px;
    }

    .latest-blog-section h1 {
        font-size: 27px;
        letter-spacing: 1px;
        padding-top: 8px;
        padding-bottom: 11px;
        min-width: 230px;
    }


    .blog-right-side span {
        font-size: 9px;
    }

    .blog-right-side h2 {
        font-size: 14px;
        line-height: 20px;
        padding-top: 9px;
        padding-bottom: 10px;
    }

    .blog {
        padding: 20px 8px 30px 0;
    }
}

@media(max-width:310px) {
    .latest-blog-section {
        padding-left: 10px;
        padding-top: 80px;
        padding-bottom: 10px;
    }

    .blog a {
        font-size: 11px;
    }

    .blog-right-side {
        min-width: 270px;
        padding-right: 15px;
    }

    .blog-left-side {
        min-width: 150px;
    }

    .latest-blog-section h5 {
        font-size: 13px;
        letter-spacing: 1px;
    }

    .latest-blog-section h1 {
        font-size: 24px;
        letter-spacing: 1px;
        padding-top: 6px;
        padding-bottom: 9px;

    }


    .blog-right-side span {
        font-size: 8px;
    }

    .blog-right-side h2 {
        font-size: 12px;
        line-height: 20px;
        padding-top: 9px;
        padding-bottom: 10px;
    }

    .blog {
        padding: 15px 6px 25px 0;
        max-width: 270px;
    }

}

/* latest-blog-section end */



/* product-design-section start */

.product-design h5 {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;
    color: #FF5E69;
}

.product-design {
    padding: 156px 112px 112px 112px;
    max-width: 1440px;
    margin: 0 auto;
}

.product-design h1 {
    font-size: 54px;
    letter-spacing: 1px;
    font-weight: 700;
    padding-top: 15px;
    min-width: 258px;
}

.thats-me-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 115px;
    flex-wrap: wrap;
}

.product-design p {
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    color: #666666;
    max-width: 623px;
    width: 620px;
}

.thats-me-image-section img {
    width: 100%;
    height: 100%;
}

.right-side>.right-side-top {
    margin-bottom: 16px;
}

.thats-me-image-section>.center {
    margin-left: 16px;
    margin-right: 16px;
}

.thats-me-image-section {
    display: flex;

}

.thats-me-image-section:nth-child(1),
.thats-me-image-section:nth-child(3) {
    min-width: 338px;
}

.thats-me-image-section:nth-child(2) {
    min-width: 507px;
}

@media(max-width:1097px) {
    .thats-me-section {
        padding-bottom: 60px;
    }

    .thats-me-section h1 {
        padding-bottom: 20px;
    }

    .thats-me-image-section>.center {
        margin-left: 15px;
        margin-right: 15px;
    }

    .right-side>.right-side-top {
        margin-bottom: 10px;
    }

}

@media(max-width:840px) {
    .product-design {
        padding: 116px 80px 80px 80px;
    }

    .product-design h5 {
        font-size: 20px;
    }

    .thats-me-section h1 {
        font-size: 50px;
    }

    .thats-me-section p {
        font-size: 20px;
        line-height: 35px;
    }
}

@media(max-width:719px) {
    .product-design {
        padding-top: 90px;
        padding-right: 0;
        padding-left: 0;
        text-align: center;
    }

    .product-design h5 {
        font-size: 18px;
        letter-spacing: 3px;
    }

    .thats-me-section h1 {
        font-size: 45px;
        padding-top: 12px;
        padding-bottom: 16px;
    }

    .thats-me-section p {
        font-size: 18px;
        line-height: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .thats-me-section {
        padding-bottom: 40px;
        justify-content: center;
    }

    .thats-me-image-section {
        flex-wrap: wrap;
        flex-basis: 100%;
        justify-content: center;
    }

    .thats-me-image-section img {
        width: 338px;
        padding-bottom: 10px;

    }

    .right-side>.right-side-top {
        margin-bottom: 0px;
    }
}

@media(max-width:550px) {
    .product-design {
        padding-top: 70px;
        text-align: center;
    }

    .product-design h5 {
        font-size: 16px;
        letter-spacing: 2px;
    }

    .thats-me-section h1 {
        font-size: 40px;
        padding-top: 10px;
        padding-bottom: 12px;
    }

    .thats-me-section p {
        font-size: 16px;
        line-height: 25px;

    }

    .thats-me-section {
        padding-bottom: 30px;
        justify-content: center;
    }

    .thats-me-image-section img {
        width: 270px;
    }

}

@media(max-width:450px) {
    .product-design {
        padding-top: 50px;
    }

    .product-design h5 {
        font-size: 14px;
        letter-spacing: 2px;
    }

    .thats-me-section h1 {
        font-size: 33px;
        padding-top: 9px;
        padding-bottom: 10px;
    }

    .thats-me-section p {
        font-size: 14px;
        line-height: 20px;

    }

    .thats-me-section {
        padding-bottom: 20px;
    }
}

@media(max-width:400px) {
    .product-design {
        padding-top: 30px;
    }

    .product-design h5 {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .thats-me-section h1 {
        font-size: 27px;
        padding-top: 7px;
        padding-bottom: 9px;
    }

    .thats-me-section p {
        font-size: 12px;
        line-height: 15px;
        min-width: 200px;
    }

    .thats-me-section {
        padding-bottom: 15px;

    }

}

@media(max-width:345px) {
    .thats-me-image-section {
        min-width: 280px !important;
    }

    .thats-me-image-section img {
        width: 200px;
        padding-bottom: 7px;
    }
}


/* product-design-section end */




/* education-work-section start */

.education-work-section {
    display: flex;
    padding: 113px;
    gap: 54px;
}

.education-side {
    flex-basis: 50%;
}

.work-side {
    flex: 1;
    padding-top: 32px;
    padding-bottom: 39px;
}

.education-side h1 {
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 51px;
}

.education-side h5 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 9px;
}

.education-side span {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.education-top {
    display: flex;
    justify-content: space-between;
}

.education-bottom {
    display: flex;
    justify-content: space-between;
    padding-right: 41px;
}

.education-side {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 39px;
    padding-top: 32px;
}

/* work-side */
.work-section {
    display: flex;

}

.work {
    flex-basis: 100%;
    padding-left: 20px;
}

.work-top {
    display: flex;
    justify-content: space-between;
}

.work-bottom {
    display: flex;
    justify-content: space-between;
}

.work-section {
    padding-top: 32px;
    padding-bottom: 39px;
    border-bottom: 1px solid #E5E5E5;

}

.work-side h1 {
    font-size: 36px;
    padding-bottom: 51px;
}

.work-side h5 {
    font-size: 24px;
    padding-bottom: 9px;
    font-weight: 700;
}

.education-side:nth-child(1) {
    border-bottom: none;
}

.work-side:nth-child(1) {
    border-bottom: none;
}

@media(max-width:1300px) {
    .education-side {
        min-width: 537px;
        flex-basis: 100%;
    }

    .work-side {
        min-width: 537px;
    }

    .education-work-section {
        flex-wrap: wrap;
    }
}

@media(max-width:786px) {
    .education-work-section {
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 50px;
    }

    .education-side {
        min-width: 512px;
    }

    .work-side {
        min-width: 512px;
    }
}

@media(max-width:612px) {
    .education-side h1 {
        font-size: 30px;
        padding-bottom: 30px;
    }

    .education-side h5 {
        font-size: 20px;
    }

    .education-side span {
        font-size: 13px;
    }

    .work-side h1 {
        font-size: 30px;
        padding-bottom: 30px;
    }

    .work-side h5 {
        font-size: 20px;
    }

    .work-side span {
        font-size: 13px;
    }

    .education-side {
        min-width: 400px;
    }

    .work-side {
        min-width: 400px;
    }
}

@media(max-width:476px) {
    .education-work-section {
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 90px;
    }

    .education-side h1 {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .education-side h5 {
        font-size: 17px;
    }

    .education-side {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .work-side {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .education-side span {
        font-size: 10px;
    }

    .work-section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .work {
        padding-left: 15px;
    }

    .work-side h1 {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .work-side h5 {
        font-size: 17px;
    }

    .work-side span {
        font-size: 10px;
    }

    .education-side {
        min-width: 350px;
    }

    .work-side {
        min-width: 350px;
    }
}

@media(max-width:382px) {
    .education-work-section {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0;
        padding-bottom: 60px;
        gap: 15px;
    }

    .education-side h1 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .education-side h5 {
        font-size: 14px;
    }

    .education-side {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .education-side span {
        font-size: 7px;
    }

    .work-section {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .work {
        padding-left: 10px;
    }

    .work-side h1 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .work-side h5 {
        font-size: 14px;
    }

    .work-side span {
        font-size: 7px;
    }

    .education-side {
        min-width: 250px;
    }

    .work-side {
        min-width: 250px;
    }

    .work-section img {
        width: 50px;
        height: 30px;
    }

}

/* education-work-section end */



/* testimonials-section start */
.testimonials-section {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;
    padding-bottom: 80px;

}

.testimonials-section-bottom {
    display: flex;
    justify-content: space-between;
}

.testimonials-bottom-left {
    min-width: 485px;
}

.testimonials-bottom-right {
    min-width: 560px;
}

.testimonials-section-bottom {
    flex-wrap: wrap;
}

.right-bottom {
    display: flex;
}

.testimonials-section h1 {
    font-size: 22px;
    letter-spacing: 4px;
    color: #4353FF;
    padding-bottom: 20px;
    font-weight: 700;
}

.testimonials-section h2 {
    font-size: 54px;
    letter-spacing: 1px;
    font-weight: 700;
}

.testimonials-section p {
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
}

.testimonials-section h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.testimonials-section h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.right-bottom-right button {
    background-color: #000;
    width: 46px;
    height: 46px;
}

.testimonials-bottom-right>.right-bottom {
    justify-content: space-between;
}

.testimonials-bottom-left {
    padding-top: 85px;
}

.testimonials-bottom-right>.right-top {
    padding-top: 110px;
}

.right-top p {
    padding-top: 32px;
    padding-bottom: 109px;
}

@media(max-width:1300px) {
    .testimonials-section-top {
        text-align: center;
    }

    .testimonials-section-bottom {
        text-align: center;
        justify-content: center;
    }
}

@media(max-width:810px) {
    .testimonials-section {
        padding-left: 0;
        padding-right: 0;
    }
}

@media(max-width:643px) {
    .testimonials-section h2 {
        font-size: 45px;
    }

    .testimonials-bottom-left img {
        width: 430px;
        height: 350px;
    }

    .testimonials-bottom-left {
        padding-top: 65px;
    }

    .testimonials-section h1 {
        font-size: 19px;
        padding-bottom: 15px;
    }

    .testimonials-bottom-right>.right-top {
        padding-top: 80px;
    }

    .testimonials-bottom-right>.right-top img {
        width: 40px;
        height: 40px;
    }

    .testimonials-bottom-right>.right-top p {
        font-size: 30px;
        line-height: 40px;
        padding-top: 25px;
        padding-bottom: 85px;
    }

    .testimonials-bottom-left {
        min-width: 350px;
    }

    .testimonials-bottom-right {
        min-width: 450px;
    }

}

@media(max-width:504px) {
    .testimonials-section h2 {
        font-size: 35px;
    }

    .testimonials-bottom-left img {
        width: 380px;
        height: 300px;
    }

    .testimonials-bottom-left {
        padding-top: 35px;
    }

    .testimonials-section h1 {
        font-size: 15px;
        padding-bottom: 9px;
    }

    .testimonials-bottom-right>.right-top {
        padding-top: 45px;
    }

    .testimonials-bottom-right>.right-top img {
        width: 37px;
        height: 37px;
    }

    .testimonials-bottom-right>.right-top p {
        font-size: 23px;
        line-height: 32px;
        padding-top: 17px;
        padding-bottom: 45px;
    }

    .testimonials-bottom-left {
        min-width: 300px;
    }

    .testimonials-bottom-right {
        min-width: 350px;
    }

    .testimonials-section h3 {
        font-size: 17px;
    }

    .testimonials-section button {
        width: 35px;
        height: 35px;
    }

    .testimonials-section h4 {
        font-size: 15px;
    }
}

@media(max-width:395px) {
    .testimonials-section h2 {
        font-size: 30px;
    }

    .testimonials-bottom-left img {
        width: 280px;
        height: 290px;
    }

    .testimonials-bottom-left {
        padding-top: 25px;
    }

    .testimonials-section h1 {
        font-size: 14px;
        padding-bottom: 9px;
        letter-spacing: 3px;
    }

    .testimonials-bottom-right>.right-top {
        padding-top: 35px;
    }

    .testimonials-bottom-right>.right-top img {
        width: 34px;
        height: 34px;
    }

    .testimonials-bottom-right>.right-top p {
        font-size: 19px;
        line-height: 28px;
        padding-top: 14px;
        padding-bottom: 35px;
    }

    .testimonials-bottom-left {
        min-width: 250px;
    }

    .testimonials-bottom-right {
        min-width: 300px;
    }

    .testimonials-section h3 {
        font-size: 15px;
    }

    .testimonials-section button {
        width: 30px;
        height: 30px;
    }

    .testimonials-section h4 {
        font-size: 13px;
    }
}

@media(max-width:314px) {
    .testimonials-section h2 {
        font-size: 25px;
    }

    .testimonials-bottom-left img {
        width: 250px;
        height: 270px;
    }

    .testimonials-bottom-left {
        padding-top: 15px;
    }

    .testimonials-section h1 {
        font-size: 12px;
        padding-bottom: 6px;
        letter-spacing: 2px;
    }

    .testimonials-bottom-right>.right-top {
        padding-top: 25px;
    }

    .testimonials-bottom-right>.right-top img {
        width: 30px;
        height: 30px;
    }

    .testimonials-bottom-right>.right-top p {
        font-size: 17px;
        line-height: 24px;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .testimonials-bottom-left {
        min-width: 250px;
    }

    .testimonials-bottom-right {
        min-width: 270px;
    }

    .testimonials-section h3 {
        font-size: 14px;
    }

    .testimonials-section button {
        width: 27px;
        height: 27px;
    }

    .testimonials-section h4 {
        font-size: 12px;
    }
}

/* testimonials-section end */



/* faq-section-start */
.faq-section {
    background-color: #000;
    padding: 50px 113px 50px;
    flex-basis: 100%;

}

.faq-section-top {
    text-align: center;
}

.faq-section-top h1 {
    font-size: 22px;
    font-weight: 700;
    color: #FF8A56;
    letter-spacing: 4px;
    padding-bottom: 20px;
}

.faq-section-top h2 {
    font-size: 54px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 150px;
}

.faq-card h3 {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 49px;
}

.faq-card {
    display: flex;
    border-bottom: 1px solid rgba(229, 229, 229, 0.3);
    justify-content: space-between;
}

.faq-section-bottom {
    display: flex;
    justify-content: space-between;
    gap: 53px;

}

.bottom-left-side {
    flex-basis: 50%;
}

.bottom-right-side {
    flex-basis: 50%;
}



@media(max-width:1446px) {
    .faq-card {
        width: 750px;
    }

    .faq-section-bottom {
        gap: 0;
        justify-content: center;
        flex-wrap: wrap;
    }

    .faq-section {
        padding-left: 0;
        padding-right: 0;
    }
}

@media(max-width:920px) {
    .faq-section h2 {
        font-size: 48px;
    }

    .faq-card {
        width: 650px;
    }

}

@media(max-width:754px) {
    .faq-section h1 {
        font-size: 20px;
    }

    .faq-section h2 {
        font-size: 40px;
        padding-bottom: 120px;
    }

    .faq-section h3 {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 35px;
    }

    .faq-card {
        width: 500px;
    }
}

@media(max-width:600px) {
    .faq-section h1 {
        font-size: 17px;
    }

    .faq-section h2 {
        font-size: 35px;
        padding-bottom: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .faq-section h3 {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 35px;
    }

    .faq-card {
        width: 400px;
    }
}

@media(max-width:450px) {
    .faq-section h1 {
        font-size: 15px;
        letter-spacing: 3px;
    }

    .faq-section h2 {
        font-size: 30px;
        padding-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .faq-section h3 {
        font-size: 17px;
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .faq-card {
        width: 300px;
        line-height: 30px;
    }
}

@media(max-width:368px) {
    .faq-section h1 {
        font-size: 13px;
        letter-spacing: 3px;
    }

    .faq-section h2 {
        font-size: 25px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .faq-section h3 {
        font-size: 15px;
        padding-top: 14px;
        padding-bottom: 22px;
    }

    .faq-card {
        width: 250px;
        line-height: 20px;
    }
}

@media(max-width:317px) {
    .faq-section h1 {
        font-size: 12px;
        letter-spacing: 2px;
    }

    .faq-section h2 {
        font-size: 20px;
        padding-bottom: 20px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .faq-section h3 {
        font-size: 13px;
        padding-top: 12px;
        padding-bottom: 19px;
    }

    .faq-card {
        width: 230px;
        line-height: 16px;
    }

}

/* faq-section-end */


/* footer-start */

.footer {
    background-color: #000;
    display: flex;
    padding-left: 113px;
    padding-bottom: 21px;
    flex-wrap: wrap;
}

.footer p {
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    width: 407px;
}
.footer a{
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    padding-left: 13px;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
@media(max-width:1000px){
    .footer{
        padding-left: 80px;
    }  
}
@media(max-width:768px){
    .footer{
        padding-left: 60px;
    }  
    .footer p{
        height: 24px;
    }
}
@media(max-width:582px){
    .footer{
        padding-left: 40px;
    }  
    .footer p{
        font-size: 14px;
        height: 15px;
    }
    .footer a{
        font-size: 14px;
    }
}
@media(max-width:500px){
.footer{
    padding-left: 15px;
}

}
@media(max-width:450px){
    .footer p{
       font-size: 12px;
       width: 300px;
       height: 10px;
    }
    .footer a{
        font-size: 12px;
        padding-left: 3px;
    }
    }
    @media(max-width:389px){
        .footer p{
           font-size: 10px;
           width: 250px;
        }
        .footer a{
            font-size: 10px;
        }
        }
        @media(max-width:301px){
            .footer p{
               font-size: 9px;
               height: 7px;
            }
            .footer a{
                font-size: 9px;
            }
            }

/* footer-end */